
.color-palette__color {
	padding: 3em;
}

.color-palette__color--1 {
	background: #999;
}
.color-palette__color--2 {
	background: #777;
}
.color-palette__color--3 {
	background: #555;
}
.color-palette__color--4 {
	background: #333;
}
.color-palette__color--5 {
	background: #111;
}